.about {
    background-color: #1abc9c;
    height: 80vh;
}
.about .info h2 {
    font-size: 40px;
    font-weight: 700;
}
@media(max-width: 576px) {
    .about .info h2 {
        font-size: 30px;
    }
}
.about .info span::before {
    content: "";
    position: absolute;
    left: 40px;
    bottom: 5px;
    width: 5rem;
    height: 4px;
    background-color: #fff;
}
.about .info span::after {
    content: "";
    position: absolute;
    right: 40px;
    bottom: 5px;
    width: 5rem;
    height: 4px;
    background-color: #fff;
}
.about .info .desc p {
    flex-basis: 80%;
}